<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Hobbies & Athletes</title>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Villanova Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarBasic">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hobbies.html">Hobbies</a>
        </li>
       
      </ul>
    
    </div>
  </div>
</nav>
    <main>
      <section class="py-5 text-center container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="fw-light">Here are 2 hobbies and 2 of my favourite athletes</h1>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 g-3">
            
            <!-- Hobby 1 -->
            <div class="col">
              <div class="card shadow-sm">
                <img 
                  src="C:\Users\jackc\OneDrive - Villanova University\Documents\Desktop\Platform Based Computing\Homework 1\resources\img\running.jpg" 
                  class="card-img-top" 
                  alt="Running hobby image"
                  style="height: 225px; object-fit: cover;"
                >
                <div class="card-body">
                  <p class="card-text">
                    My first main hobby is running. I started running in 2023 and have been consistent ever since. 
                    I hope to run a marathon soon.
                  </p>
                </div>
              </div>
            </div>

            <!-- Hobby 2 -->
            <div class="col">
              <div class="card shadow-sm">
                <img 
                  src="C:\Users\jackc\OneDrive - Villanova University\Documents\Desktop\Platform Based Computing\Homework 1\resources\img\movies.jpg" 
                  class="card-img-top" 
                  alt="Running hobby image"
                  style="height: 225px; object-fit: cover;"
                >
                <div class="card-body">
                  <p class="card-text">
                    My Second main hobby is watching movies. My favourite movie is Shawshank redemption. Gladiator, The Departed, and The Other Guys are all close seconds!
                  </p>
                </div>
              </div>
            </div>

            <!-- Athlete 1 -->
            <div class="col">
              <div class="card shadow-sm">
                <img 
                  src="C:\Users\jackc\OneDrive - Villanova University\Documents\Desktop\Platform Based Computing\Homework 1\resources\img\jeter.png" 
                  class="card-img-top" 
                  alt="Running hobby image"
                  style="height: 225px; object-fit: cover;"
                >
                <div class="card-body">
                  <p class="card-text">
                    My favourite athlete has to be Derek Jeter. I'm a huge yankee fan and grew up watching him play shortstop. Great guy on and off the field!
                  </p>
                </div>
              </div>
            </div>

            <!-- Athlete 2 -->
            <div class="col">
            <div class="col">
              <div class="card shadow-sm">
                <img 
                  src="C:\Users\jackc\OneDrive - Villanova University\Documents\Desktop\Platform Based Computing\Homework 1\resources\img\jayden.jpg" 
                  class="card-img-top" 
                  alt="Running hobby image"
                  style="height: 225px; object-fit: cover;"
                >
                <div class="card-body">
                  <p class="card-text">
                    My second favourite athlete in Jayden Daniels. It's been a rough time to be a Commanders fan since I've been alive, but he is finally giving us some hope. ROTY!!
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>