<!DOCTYPE html>
<html>
 <head>
 <title>Jack Covino - Fall 2025 Semester Schedule</title>
 </head>
 <body>
 <h1>My Schedule</h1>
 <table>
 <thead>
 <tr>
 <th>Monday   </th>
 <th>Tuesday   </th>
 <th>Wednesday   </th>
 <th>Thursday   </th>
 <th>Friday   </th>
 </tr>
 </thead>
 <tbody>

 <tr>
 <td>3:20pm - 4:45pm: EGEN 3100</td>
 <td>11:30am - 12:45pm: CSC 4480</td>
 <td>3:20pm - 4:45pm: EGEN 3100</td>
 <td>11:30am - 12:45pm: CSC 4480</td>
 <td>NO CLASS!</td>
 </tr>

 <tr>
 <td>6:15pm - 7:30pm: EGEN 2500</td>
 <td>1:00pm - 2:15pm: ECE 4971</td>
 <td>6:15pm - 7:30pm: EGEN 2500</td>
 <td>1:00pm - 2:15pm: ECE 4971</td>
 </tr>
 
 <tr>
 <td> </td>
 <td>6:15pm - 9:00pm: CSC 2053</td>
 </tr>
 <tr></tr>
 </tbody>
</table>
 </body>
</html>